.nav {
  display: flex;

  &__logo {
    width: rem(48px);
    height: rem(48px);
    margin-right: rem(48px);
  }

  &__links {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin-right: rem(48px);

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include link;
    font-size: $default-font-size;
    color: $color-text;
  }
}
