.section {
  padding: rem(24px) 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--header {
    border-bottom: 1px solid $color-light;
  }

  &--main {
    flex-grow: 1;
  }

  &--footer {
    flex-shrink: 0;
    background-color: $color-background-footer;
    color: $color-grey-dark;
  }
}
