.shop {
  display: flex;
  justify-content: space-between;
  flex: 1;

  &__item {
    display: flex;
    flex-direction: column;
    max-width: rem(280px);
    border: 1px solid $color-light;

    &--sold {
      opacity: 50%;
    }
  }

  &__info {
    padding: rem(20px) rem(24px) rem(24px);
  }

  &__buy {
    display: flex;
    justify-content: space-between;
    margin-top: rem(22px);
  }

  &__price-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__price {
    &--old {
      font-size: $default-font-size;
      font-weight: 300;
      line-height: rem(21px);
      color: $color-grey;
      text-decoration: line-through;
    }

    &--new {
      font-size: rem(16px);
      font-weight: 700;
      line-height: rem(24px);
    }
  }
}
