.btn {
  &,
  &:link,
  &:visited {
    @include font;
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: rem(118px);
    text-decoration: none;
    font-size: $default-font-size;
    font-weight: 700;
    background-color: $color-btn;
    color: $color-white;
    line-height: rem(21px);
    border: none;
    cursor: pointer;
  }

  &:hover {
    background-color: $color-hover;
  }

  &:active,
  &:focus {
    outline: $color-hover;
  }

  &--search {
    min-width: rem(122px);
    padding: rem(14px) rem(36px) rem(13px);
  }

  &--shop {
    padding: rem(14px) rem(30px) rem(13px) rem(31px);
  }

  &--disabled {
    padding: 0;
    background-color: $color-disable;
  }

  &--cart {
    background-color: $color-cart;
    padding: rem(14px) rem(9px) rem(13px) rem(8px);
  }
}
