.contacts {
  @include font;
  font-size: $default-font-size;
  line-height: rem(21px);

  &__tel,
  &__address {
    @include link;
    color: $color-grey-dark;
  }

  &__tel {
    position: relative;
    padding-left: rem(23px);
    margin-right: rem(50px);

    &::before {
      content: url(../img/phone.svg);
      display: inline-block;
      width: rem(14px);
      height: rem(14px);
      position: absolute;
      top: rem(3px);
      left: 0;
    }
  }

  &__address {
    position: relative;
    padding-left: rem(21px);

    &::before {
      content: url(../img/address.svg);
      display: inline-block;
      width: rem(10px);
      height: rem(14px);
      position: absolute;
      top: rem(3px);
      left: 0;
    }
  }
}
