.search {
  position: relative;

  &__input {
    @include font;
    width: 416px;
    height: 48px;
    padding: 13px 16px;
    color: #9f9f9f;
    font-size: $default-font-size;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    background-color: transparent;

    &:active,
    &:focus {
      border-color: #b5b5b5;
      outline: none;
      color: $color-text;
    }
  }

  &__btn {
    position: absolute;
    height: 48px;
    top: 0;
    right: 0;
  }
}
