.search {
  position: relative;

  &__input {
    @include font;
    min-width: rem(416px);
    height: rem(48px);
    padding: rem(13px) rem(16px);
    color: $color-grey-light;
    font-size: $default-font-size;
    border: 1px solid $color-light;
    box-sizing: border-box;
    background-color: transparent;

    &:active,
    &:focus {
      border-color: $color-border;
      outline: $color-border;
      color: $color-text;
    }
  }

  &__btn {
    position: absolute;
    height: rem(48px);
    top: 0;
    right: 0;
  }
}
