.heading {
  @include font;

  &--1 {
    font-size: rem(24px);
    font-weight: 700;
    line-height: rem(36px);
    margin-top: rem(45px);
    margin-bottom: rem(39px);
  }

  &--2 {
    font-size: rem(18px);
    font-weight: 400;
    line-height: rem(27px);
  }

  &--3 {
    font-size: rem(16px);
    font-weight: 400;
    line-height: rem(24px);
    margin-top: rem(12px);
  }
}
