$color-text: #343030;

$color-grey: #a0a0a0;
$color-grey-dark: #555;
$color-white: #f4f6f9;

$color-btn: #403432;
$color-hover: #776763;
$color-disable: #c1b4b1;
$color-cart: #5b3a32;

$default-font-size: 14px;
