$color-text: #343030;
$color-background: #f6f3f3;
$color-border: #b5b5b5;
$color-background-footer: #eceaea;

$color-grey: #a0a0a0;
$color-grey-dark: #555;
$color-grey-light: #9f9f9f;
$color-white: #f4f6f9;
$color-light: #e1e1e1;

$color-btn: #403432;
$color-hover: #776763;
$color-disable: #c1b4b1;
$color-cart: #5b3a32;

$default-font-size: 14px;
$container-size: 1216px;
